/*Materials Styling*/

.materials {
    position: relative;
    top: 10vh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.content {
    width: 80%;
    height: fit-content;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slide_container {
    width: 80%;
    height: 400px;
    margin-bottom: 50px;
}