/*Materials Styling*/

.materials {
    position: relative;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
}

.content {
    width: 100vw;
    height: fit-content;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slide_container {
    width: 100vw;
    height: fit-content;
    margin-bottom: 50px;
}

.suppliers {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

.suppliers h3 {
    font-family: montserrat, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    margin: 25px auto;
}

.suppliers a {
    margin: 10px 0;
}

.suppliers a:hover {
    color: #2E3192;
}