/*Nav bar styling*/

.nav_container {
    width: 100vw;
    height: 10vh;
    max-height: 100px;
    min-height: 90px;
    display: flex;
    align-items: center;
    box-shadow: -10px -20px 50px;
    position: fixed;
    background: #fff;
}

.nav_logo {
    margin: 0 auto 0 25px;
}

.nav_logo img {
    height: 80px;
    width: auto;
}

.nav_whatsapp {
    margin: 0 25px 0 auto;
}

.nav_links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_links a {
    margin: 0 5px 0 0;
    font-size: 1.13rem;
}

.nav_links a:not(:last-child)::after {
    content: '/';
    margin: 0 5px;
}

.nav_links a:hover {
    color: #2E3192;
}

.nav_links a::after:hover {
    color: #000;
}

.nav_links a:active {
    color: #C9D4E3;
}

.nav_whatsapp {
    width: fit-content;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.whatsapp_link {
    width: 200px;
    height: 50px;
    background: #2E3192;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.whatsapp_link:hover {
    background-color: #393d9b;
}

@media only screen and (max-width: 1050px) {
    
}