.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin: auto;
}

.slide_track {
    width: fit-content;
    height: 400px;
    display: flex;
}

.card {
    width: 800px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card_title {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.card_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 auto;
}

.card_left {
    position: relative;
    width: 40%;
    
}

.card_left p {
    font-size: 1rem;
}

.card_right {
    position: relative;
    width: 40%;
    height: 200px;
}

.card_right img {
    object-fit: cover;
}