/*Font*/
@import url("https://use.typekit.net/zve6qgo.css");

/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

/*Global styles*/

body {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    background: #FFF;
}

h1, h2, h3 {
    font-family: chapman, sans-serif;
    font-weight: 700;
    font-style: italic;
}

.main {
    width: 100vw;
    max-width: 1990px;
}