/*Font*/
@import url("https://use.typekit.net/zve6qgo.css");

/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

/*Global styles*/

body {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 18px;
    background: #FFF;
    height: fit-content;
    width: 100vw;
    display: flex;
    justify-content: center;
    
}

nav {
    z-index: 99;
}

main {
    width: 100vw;
    max-width: 1990px;
    height: fit-content;
    z-index: 90;
    position: relative;
    top: 90px;
    margin: 0 auto;
}

h1, h2, h3 {
    font-family: chapman, sans-serif;
    font-weight: 700;
    font-style: italic;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1rem;
    letter-spacing: 0.05rem;
    line-height: 2rem;
}

.title {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0 50px 0;
}

.sub_text {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 0 auto 25px auto;
    width: 50%;
    text-align: center;
}

/*BreakPoints*/

@media only screen and (max-width: 1050px){
    .title {
        margin: 50px 0 50px 0;
    }
}



