/*Font*/
@import url("https://use.typekit.net/zve6qgo.css");

/*Reset*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

/*Global styles*/

body {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
    font-weight: 400;
    font-style: normal; 
    background: #FFF;
}