/*Hero styling*/

.hero {
    width: 100%;
    height: fit-content;
    background-color: #C9D4E3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-height: 1080px;
}

.inner {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url(https://res.cloudinary.com/djrrpri4f/image/upload/v1709547312/Other/RimanoCashmere.jpg);
    background-size: cover;
    background-position: left;
    max-height: 1080px;
    min-height: 800px;
}

.left {
    width: 80%;
    height: 70vh;
    padding: 10px;
    margin: 25px auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

.left h1 {
    font-family: "Castoro Titling", serif;
    font-weight: 400;
    font-style: normal;
    width: 90%;
    color: #292929;
    letter-spacing: 0.1rem;
    font-size: 2.5rem;
    line-height: 65px;
    margin-top: 50%;
}

.left p {
    margin: 40px 0 50% 0;
    width: 90%;
    font-size: 1rem;
    text-align: center;
}

.right {
    width: 100%;
    height: fit-content;
    margin: 25px 0;
    font-family: montserrat, sans-serif;
    font-weight: 200;
    font-style: italic; 
    font-size: 1rem;
    letter-spacing: 0.07rem;
    line-height: 1.6rem;
    background-color: #f5f5f5;
    padding: 0rem;
}

.right p {
    width: 80%;
    margin: 0 auto;
    padding: 10px 0;
}

/*About Section*/

.about {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.content {
    width: 80%;
    height: fit-content;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.about_text p {
    margin-bottom: 25px;
}

.about_img {
    position: relative;
    width: 100%;
    height: 300px;
    max-height: 300px;
    max-width: 500px;
}

.about_img img {
    object-fit: contain;
}

/*BreakPoints for Hero*/

@media only screen and (min-width: 750px) {
    .inner {
        height: 95vh;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    .left {
        width: 40%;
        height: 70%;
        margin: 0;
        padding: 20px;
    }

    .left h1 {
        font-size: 3rem;
        line-height: 5rem;
    }

    .right {
        width: 30%;
        margin-top: -50%;
    }
}

@media only screen and (min-width: 1000px) {
    .left {
        height: 100%;
        width: 45%;
        padding: 0;
        max-width: 550px;
    }

    .left h1 {
        font-size: 3.8rem;
        line-height: 7rem;
    }

    .right {
        margin-top: 50px;
    }

    .inner {
        align-items: flex-start;
    }
}

/*BreakPoints for About*/

@media only screen and (min-width: 1000px) {
    .about {
        min-height: 90vh;
    }

    .content {
        margin: auto 0;
    }

    .about_text {
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 1119px) {
    .content {
        flex-direction: row;
    }

    .about_text {
        margin-right: 20px; /* Adjust the margin as needed */
        margin-bottom: 0;
        max-width: 600px;
    }

    .about_img {
        min-width: 350px;
        max-width: 600px;
        margin-left: 20px; /* Adjust the margin as needed */
    }
}
